body {
  background-color: var(--bg-color);
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: var(--primary-text-color);

  &.no-scroll {
    overflow: hidden;
  }
}
h1,
h2 {
  font-family: 'Caveat Brush';
  font-weight: 400;
}

h3 {
  font-style: italic;
}
