body {
  background-color: var(--bg-color);
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: var(--primary-text-color);

  // mobile scren
  background-position: bottom, top;
  background-repeat: no-repeat, no-repeat;
  background-size: 100%;
  background-position: top center, bottom 175px right 0px;
  background-size: 100% 6%, 100% 18%;
  background-image: url(../images/header/header-bg-1-sm.png),
    url(../images/rewievs/reviews-bg-1-sm.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/rewievs/reviews-bg-1-sm@2x.png),
      url(../images/header/header-bg-1-sm@2x.png);
  }

  // tablet scren
  @media screen and (min-width: 768px) {
    background-position: top center, bottom center;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 11.5%, 100% 33%;
    background-image: url(../images/header/header-bg-1-md.png),
      url(../images/rewievs/reviews-bg-1-md.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/header-bg-1-md@2x.png),
        url(../images/rewievs/reviews-bg-1-md@2x.png);
    }
  }

  // desktop scren
  @media screen and (min-width: 1280px) {
    background-position: top center, bottom center;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 22%, 100% 31%;
    background-image: url(../images/header/header-bg-1-lg.png),
      url(../images/rewievs/rewievs-bg-lg.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/header-bg-1-lg@2x.png),
        url(../images/rewievs/rewievs-bg-lg@2x.png);
    }
  }

  &.no-scroll {
    overflow: hidden;
  }
}

h1,
h2 {
  font-family: 'Caveat Brush', cursive;
  font-weight: 400;
}

h3 {
  font-style: italic;
}
