.btn-scroll {
  width: 30px;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  z-index: 7;
  bottom: 5%;
  right: 10%;
  border: none;
  border-radius: 25px;
  transform: translateY(50px);
  cursor: pointer;
  &:hover,
  &:focus {
    transform: translateY(25px);
  }
  transition: all 1s ease;
  @media screen and(min-width:768px) {
    width: 50px;
  }
}
.btn-scroll__active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 1s ease;
}
