.button {
  cursor: pointer;
  font-family: 'Caveat Brush';
  line-height: 1.27;
  border-radius: 25px;
  text-align: center;
  border: none;
  font-size: 18px;
  height: 40px;
  width: 145px;
  color: #ffffff;
  background-color: var(--style-color);
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
  &:hover,
  &:focus {
    background-color: #c09a87;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.btn-scroll {
  bottom: 10%;
  width: 25px;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  z-index: 7;
  right: 3%;
  border: none;
  border-radius: 25px;
  transform: translateY(50px);
  cursor: pointer;
  &:hover,
  &:focus {
    transform: translateY(25px);
  }
  transition: all 1s ease;
  @media screen and(min-width:768px) {
    width: 33px;
    bottom: 10%;
  }
  @media screen and(min-width:1280px) {
    width: 50px;
    bottom: 10%;
  }
}
.btn-scroll__active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 1s ease;
}
