:root {
  --primary-text-color: #2e2520;
  --bg-color: #fffff9;
  --style-color: #ab816c;
  --input-txt-color: rgba(171, 129, 108, 0.5);
  --bg-secondary-color: #fef3e4;
  --animation: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
