<section class="contact" id="contacts">
  <div class="container contact_container">
    <h2 class="contact__title">Contact</h2>
    <p class="contact__text">We will answer any your question!</p>

    <form class="contact__form">
      <input
        type="email"
        class="contact__input"
        name="user-mail"
        placeholder="Email"
        required
      />
      <input
        type="text"
        class="contact__input"
        name="user-question"
        placeholder="Type your question"
        required
      />
      <button class="button contact__button" type="submit">Send</button>
    </form>
  </div>
</section>
