<footer class="footer">
  <ul class="solials">
    <li class="socials__link">
      <svg class="solials__icon">
        <use href="./images/sprite.svg#twitter"></use>
      </svg>
    </li>
    <li class="socials__link">
      <svg class="solials__icon">
        <use href="./images/sprite.svg#instagram"></use>
      </svg>
    </li>
    <li class="socials__link">
      <svg class="solials__icon">
        <use href="./images/sprite.svg#facebook"></use>
      </svg>
    </li>
  </ul>
  <ul class="contact-details">
    <li class="contact-details__item">
      <a class="contact-details__link" href="tel:(910)2228855"
        ><div class="contacts-details__wrapper">
          <svg class="contacts-details__icon">
            <use href="./images/sprite.svg#tel"></use>
          </svg>
        </div>
        (910)222-8855
      </a>
    </li>
    <li class="contact-details__item">
      <a
        href="https://goo.gl/maps/vcS5yE8PJ5584yCM8"
        target="_blank"
        rel="noopener noreferrer"
        ><div class="contacts-details__wrapper">
          <svg class="contacts-details__icon">
            <use href="./images/sprite.svg#location"></use>
          </svg>
        </div>
        New York</a
      >
    </li>
  </ul>
</footer>
