<footer class="footer" id="contacts">
  <div class="footer__container container">
    <ul class="socials footer__socials">
      <li class="socials__item">
        <a class="socials__link" href="#">
          <svg class="socials__icon" height="16" width="16">
            <use href="./images/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link" href="#">
          <svg class="socials__icon" height="16" width="16">
            <use href="./images/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials__link">
        <a class="socials__link" href="#">
          <svg class="socials__icon" height="16" width="16">
            <use href="./images/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul class="contact-details">
      <li class="contact-details__item">
        <a class="contact-details__link" href="tel:(910)2228855"
          ><div class="contacts-details__wrapper">
            <svg class="contacts-details__icon" height="13" width="12">
              <use href="./images/sprite.svg#tel"></use>
            </svg>
          </div>
          (910)222-8855
        </a>
      </li>
      <li class="contact-details__item">
        <a
          class="contact-details__link"
          href="https://goo.gl/maps/vcS5yE8PJ5584yCM8"
          target="_blank"
          rel="noopener noreferrer"
          ><div class="contacts-details__wrapper">
            <svg class="contacts-details__icon" height="11" width="14">
              <use href="./images/sprite.svg#location"></use>
            </svg>
          </div>
          New York</a
        >
      </li>
    </ul>
    <div class="footer-img">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/footer/footer-1-lg.png    1x,
            ./images/footer/footer-1-lg@2x.png 2x
          "
          type="image/jpg"
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ./images/footer/footer-1-md.png    1x,
            ./images/footer/footer-1-md@2x.png 2x
          "
          type="image/jpg"
        />

        <source
          media="(max-width: 767px)"
          srcset="
            ./images/footer/footer-1-sm.png    1x,
            ./images/footer/footer-1-sm@2x.png 2x
          "
          type="image/jpg"
        />
        <img src="./images/footer/footer-1-sm.png" alt="flour and a spoon" />
      </picture>
    </div>
    <!-- <picture class="footer-img">
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/footer/footer-1-lg.png    1x,
          ./images/footer/footer-1-lg@2x.png 2x
        "
        type="img/png"
      />
      <img src="./images/footer/footer-1-lg.png" alt="flour and a spoon" />
    </picture> -->
  </div>
</footer>
