<header class="header">
  <div class="header__container container">
    <a class="“logo”" href="./">
      <svg class="logo__icon">
        <use href="./images/sprite.svg#logo"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a class="header-nav__link" href="#about">About us</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#program">Program</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#speakers">Speakers</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#price">Price</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#reviews">Reviews</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <span class="header-burger">
      <svg class="header-burger__icon">
        <use href="./images/sprite.svg#menu-burger"></use>
      </svg>
    </span>
    <div class="header-txt">
      <h1 class="header-txt__title">Donut Masterclass with the Donut King</h1>
      <h2 class="header-txt__subtitle">Hosted by Eva Green</h2>
      <button class="header-btn">Register</button>
    </div>
    <ul class="solials">
      <li class="socials__link">
        <svg class="solials__icon">
          <use href="./images/sprite.svg#twitter"></use>
        </svg>
      </li>
      <li class="socials__link">
        <svg class="solials__icon">
          <use href="./images/sprite.svg#instagram"></use>
        </svg>
      </li>
      <li class="socials__link">
        <svg class="solials__icon">
          <use href="./images/sprite.svg#facebook"></use>
        </svg>
      </li>
    </ul>
  </div>
</header>
