<header class="header">
  <div class="header__container container">
    <div class="header__wrapper">
      <a class="“logo”" href="./">
        <img
          class="logo__image"
          src="./images/header/header-logo-sm.svg"
          alt="logo"
        />
      </a>
      <nav class="header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__item">
            <a class="header-nav__link" href="#about">About us</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#program">Program</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#speakers">Speakers</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#price">Price</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#reviews">Reviews</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>

    <button
      class="header-burger"
      type="button"
      data-menu-button
      aria-expanded="false"
    >
      <svg class="header-burger__icon" height="16" width="30">
        <use
          class="header-burger__icon-open"
          href="./images/sprite.svg#menu-burger"
        ></use>
        <use
          class="header-burger__icon-close"
          href="./images/sprite.svg#close"
        ></use>
      </svg>
    </button>
    <div class="header-txt">
      <h1 class="header-txt__title">Donut Masterclass with the Donut King</h1>
      <h2 class="header-txt__subtitle">Hosted by Eva Green</h2>
      <a class="header-btn heartbeat" href="#speakers" class="header-btn"
        >Register</a
      >
    </div>
    <ul class="socials">
      <li class="socials__item">
        <a class="socials__link" href="#">
          <svg class="socials__icon" height="16" width="16">
            <use href="./images/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link" href="#">
          <svg class="socials__icon" height="16" width="16">
            <use href="./images/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link" href="#">
          <svg class="socials__icon" height="16" width="16">
            <use href="./images/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
<button class="btn-scroll" type="button">to top&#9757;</button>
