<div>
  <a class="logo" href="./">
    <svg class="logo__icon">
      <use href="./images/sprite.svg#logo"></use>
    </svg>
  </a>
  <button class="menu-btn">
    <svg class="menu-btn__icon">
      <use href="./images/sprite.svg#close"></use>
    </svg>
  </button>
  <nav class="menu-nav">
    <ul class="menu-nav__list">
      <li class="menu-nav__item">
        <a class="menu-nav__link menu-nav__link--current" href="#about-us"
          >About us</a
        >
      </li>
      <li class="menu-nav__item">
        <a class="menu-nav__link" href="#program">Program</a>
      </li>
      <li class="menu-nav__item">
        <a class="menu-nav__link" href="#speakers">Speakers</a>
      </li>
      <li class="menu-nav__item">
        <a class="menu-nav__link" href="#price">Price</a>
      </li>
      <li class="menu-nav__item">
        <a class="menu-nav__link" href="#reviews">Reviews</a>
      </li>
      <li class="menu-nav__item">
        <a class="menu-nav__link" href="#contacts">Contacts</a>
      </li>
    </ul>
  </nav>
</div>
