<section id="price" class="price__container">
  <div class="container">
    <h2 class="price__title">Price</h2>
    <ul class="price__list">
      <li class="price__item">
        <div class="price__position">
          <h3 class="price__sub-title">Easy start</h3>

          <ul class="price__sub-list">
            <li class="price__txt">-features of yeast dough preparation</li>
            <li class="price__txt">
              -preparation of liquid caramel for stuffing
            </li>
            <li class="price__txt">
              -preparation of raspberry and strawberry filling
            </li>
            <li class="price__txt">-fry and glaze donuts</li>
          </ul>
        </div>
        <a href="#registr" class="price__btn button">Register</a>
      </li>
      <li class="price__item">
        <div class="price__position">
          <h3 class="price__sub-title">I want delicious donuts</h3>
          <ul class="price__sub-list">
            <li class="price__txt">-features of yeast dough preparation</li>
            <li class="price__txt">
              -preparation of liquid caramel for stuffing
            </li>
            <li class="price__txt">
              -preparation of raspberry and strawberry filling
            </li>
            <li class="price__txt">-melt chocolate for decoration</li>
            <li class="price__txt">-fry and glaze donuts</li>
            <li class="price__txt">
              -donut decoration. painting and various techniques
            </li>
          </ul>
        </div>
        <a href="#registr" class="price__btn button">Register</a>
      </li>
      <li class="price__item">
        <div class="price__position">
          <h3 class="price__sub-title">Premium</h3>
          <ul class="price__sub-list">
            <li class="price__txt">-features of yeast dough preparation</li>
            <li class="price__txt">
              -preparation of liquid caramel for stuffing
            </li>
            <li class="price__txt">
              -preparation of raspberry and strawberry filling
            </li>
            <li class="price__txt">-melt chocolate for decoration</li>
            <li class="price__txt">-fry and glaze donuts</li>
            <li class="price__txt">
              -donut decoration. painting and various techniques
            </li>
            <li class="price__txt">
              -After party and donut tasting with speakers
            </li>
            <li class="price__txt">
              -2 private lessons with one of the speakers
            </li>
          </ul>
        </div>
        <a href="#registr" class="price__btn button">Register</a>
      </li>
    </ul>
  </div>
</section>
