<!-- Program -->
<section class="program" id="program">
  <div class="program__container container">
    <div class="program__article">
      <h2 class="program__title">Program</h2>
      <p class="program__text">
        Indulge in this immersive sweet treat experience with The Chef Donut
        Queen in her New York donut shop!
      </p>
      <ul class="program__list">
        <li class="program__item">A stand up history of donuts</li>
        <li class="program__item">Make 3 donut flavors of your choice</li>
        <li class="program__item">Enjoy all-you-can-eat donuts</li>
        <li class="program__item">Cocktail pairings and coffee included</li>
        <li class="program__item">Photoshoot by professional photographer</li>
        <li class="program__item">Secret receipt of cooking from Eva</li>
        <li class="program__item">All products are included in the price</li>
      </ul>
      <p class="program__text">
        Come with your dear people and friends and you will spend an
        unforgettable time and will become a real professional in donuts
        cooking!
      </p>
    </div>
    <ul class="program__plates">
      <li class="program__plate">
        <picture class="program__picture">
          <source
            srcset="
              ./images/program/program-1-lg.png    1x,
              ./images/program/program-1-lg@2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/program/program-1-md.png    1x,
              ./images/program/program-1-md@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/program/program-1-sm.png    1x,
              ./images/program/program-1-sm@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img src="./images/program/program-1-sm.png" alt="donut1" />
        </picture>
        <h3 class="program__subtitle">Type of the event</h3>
        <p class="program__description">Cooking classes</p>
        <svg class="program__icon" width="19" height="19">
          <use href="./images/sprite.svg#hat"></use>
        </svg>
        <div class="program__background"></div>
      </li>
      <li class="program__plate">
        <picture class="program__picture">
          <source
            srcset="
              ./images/program/program-2-lg.png    1x,
              ./images/program/program-2-lg@2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/program/program-2-md.png    1x,
              ./images/program/program-2-md@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/program/program-2-sm.png    1x,
              ./images/program/program-2-sm@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img src="./images/program/program-2-sm.png" alt="donut2" />
        </picture>
        <h3 class="program__subtitle">Number of guests</h3>
        <p class="program__description">1 to 20</p>
        <svg class="program__icon" width="19" height="19">
          <use href="./images/sprite.svg#members"></use>
        </svg>
        <div class="program__background"></div>
      </li>
      <li class="program__plate">
        <picture class="program__picture">
          <source
            srcset="
              ./images/program/program-3-lg.png    1x,
              ./images/program/program-3-lg@2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/program/program-3-md.png    1x,
              ./images/program/program-3-md@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/program/program-3-sm.png    1x,
              ./images/program/program-3-sm@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img src="./images/program/program-3-sm.png" alt="donut3" />
        </picture>
        <h3 class="program__subtitle">Time of the event</h3>
        <p class="program__description">18:30 (2.5 hours)</p>
        <svg class="program__icon" width="19" height="19">
          <use href="./images/sprite.svg#clock"></use>
        </svg>
        <div class="program__background"></div>
      </li>
      <li class="program__plate">
        <picture class="program__picture">
          <source
            srcset="
              ./images/program/program-4-lg.png    1x,
              ./images/program/program-4-lg@2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/program/program-4-md.png    1x,
              ./images/program/program-4-md@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/program/program-4-sm.png    1x,
              ./images/program/program-4-sm@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img src="./images/program/program-4-sm.png" alt="donut4" />
        </picture>
        <h3 class="program__subtitle">The host speaks</h3>
        <p class="program__description">English, French</p>
        <svg class="program__icon" width="19" height="19">
          <use href="./images/sprite.svg#chat"></use>
        </svg>
        <div class="program__background"></div>
      </li>
    </ul>
  </div>
</section>
