<section id="registr" class="registration">
  <h2 class="registration__title">Registration</h2>
  <picture class="registration__img">
        <source
          srcset="
            ./images/registration/registraion-1-lg.png 1x,
            ./images/registration/registraion-1-lg@2x.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./images/registration/registration-1-md.png    1x,
            ./images/registration/registration-1-md@2x.png 2x
          "
          media="(max-width:768px)"
        />
        <img
          class=""
          src="./images/registration/registraion-1-lg.png"
          alt="woman"
          width="280"
          height="280"
        />
      </picture>
  <div class="registration__container">
    <!--Главный контейнер-->
 <div class="timer-wrapper">
   <p class="date__element" id="demo"></p>
     
 <p class="date__element">New York</p>
   
 </div>
   
    
    <div class="element__container">
      <form class="registration__form">
        <p class="registration__text">
          Apply your personal info for registration
        </p>
        <input
          type="text"
          class="input registration__input"
          name="user-name"
          placeholder="Your name"
          required 
          minlength="2"
        />
        <input
          type="tel"
          class="input registration__input"
          name="user-tel"
          placeholder="Phone number"
          required
          minlength="10"
        />
        <input
          type="email"
          class="input registration__input"
          name="user-mail"
          placeholder="Email"
          required
          title="+380 (96) 111-11-11"
        />
          <button type="submit" class="button registration__button">
            Register
        </div>
      </form>
    </div>
  </div>
</section>
