<section class="registration" id="registration">
   <h2>Registration</h2>
<div class="container">
<div class="registration_main">
   <div class="may"><p>May 23, 11:00
   New York</p></div>
<line class="line-1"></line>
<div class="first">
   <span class="first_p"><p>Apply your personal info for registration</p></span>
   <form class="reg_form">
      <input class="input" type="text" placeholder="Your name">
      <input class="input" type="text" placeholder="Phone number">
      <input class="input" type="text" placeholder="Email">
   </form>
</div>
   <button class="button reg_button" type="button">Register</button>
</div>
</div>
</section>