<section class="registration">
   <h2 class="registration__title">Registration</h2>
   <div class="registration__container"><!--Главный контейнер-->
      <div class="date__element">May 23, 11:00 New York</div>
      <div class="line__element"></div>
      <div class="element__container">
         <p class="registration__text">Apply your personal info
         for registration </p>
         <form class="registration__form">
            <input class="input registration__input" type="text" placeholder="Your name">
            <input class="input registration__input" type="text" placeholder="Phone number">
            <input class="input registration__input" type="text" placeholder="Email">
         </form>
      </div>
     
         <button type="submit" class="button registration__button">Register</button>
    
   </div>
   </section>
   