<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">Reviews</h2>
    <div class="reviews__slider">
      <article class="reviews__item">
        <picture class="reviews__img">
          <source
            srcset="
              ./images/rewievs/reviews-1-lg.png    1x,
              ./images/rewievs/reviews-1-lg@2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/rewievs/reviews-1-md.png    1x,
              ./images/rewievs/reviews-1-md@2x.png 2x
            "
            media="(max-width:768px)"
          />
          <img
            class=""
            src="./images/rewievs/reviews-1-lg.png"
            alt="woman"
            width="280"
            height="280"
          />
        </picture>
        <img
          class="reviews__icon"
          src="./images/rewievs/reviews-star1.png"
          alt="stars"
          width="136"
        />
        <p class="reviews__subtitle">John</p>
      </article>
      <article class="reviews__item">
        <picture class="reviews__img">
          <source
            srcset="
              ./images/rewievs/reviews-1-lg.png    1x,
              ./images/rewievs/reviews-1-lg@2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/rewievs/reviews-1-sm.png    1x,
              ./images/rewievs/reviews-1-sm@2x.png 2x
            "
            media="(max-width:768px)"
          />
          <img
            class=""
            src="./images/rewievs/reviews-2-lg.png"
            alt="Man"
            width="280"
          />
        </picture>
        <img
          class="reviews__icon"
          src="./images/rewievs/reviews-star1.png"
          alt="stars"
          width="136"
        />
        <p class="reviews__subtitle">Will</p>
      </article>
      <article class="reviews__item">
        <picture class="reviews__img">
          <source
            srcset="
              ./images/rewievs/reviews-3-lg.png    1x,
              ./images/rewievs/reviews-3-lg@2x.png 2x
            "
            media="(max-width:768px)"
          />
          <img
            class=""
            src="./images/rewievs/reviews-3-lg.png"
            alt="woman-new"
            width="280"
          />
        </picture>
        <img
          class="reviews__icon"
          src="./images/rewievs/reviews-star1.png"
          alt="stars"
          width="136"
        />
        <p class="reviews__subtitle">Elisabeth</p>
      </article>
      <article class="reviews__item">
        <picture class="reviews__img">
          <source
            srcset="
              ./images/rewievs/reviews-3-lg.png    1x,
              ./images/rewievs/reviews-3-lg@2x.png 2x
            "
            media="(max-width:768px)"
          />
          <img
            class=""
            src="./images/rewievs/reviews-3-lg.png"
            alt="woman-new"
            width="280"
          />
        </picture>
        <img
          class="reviews__icon"
          src="./images/rewievs/reviews-star1.png"
          alt="stars"
          width="136"
        />
        <p class="reviews__subtitle">Elisabeth</p>
      </article>
      <article class="reviews__item">
        <picture class="reviews__img">
          <source
            srcset="
              ./images/rewievs/reviews-3-lg.png    1x,
              ./images/rewievs/reviews-3-lg@2x.png 2x
            "
            media="(max-width:768px)"
          />
          <img
            class=""
            src="./images/rewievs/reviews-3-lg.png"
            alt="woman-new"
            width="280"
          />
        </picture>
        <img
          class="reviews__icon"
          src="./images/rewievs/reviews-star1.png"
          alt="stars"
          width="136"
        />
        <p class="reviews__subtitle">Elisabeth</p>
      </article>
    </div>
    <div class="reviews__slider-nav">
      <article class="reviews__item">
        <p class="reviews__text">
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Thank you so much for the masterclass! Looking forward to the
          next one and highly recommend it to everyone!
        </p>
      </article>
      <article class="reviews__item">
        <p class="reviews__text">
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Thank you so much for the masterclass! Looking forward to the
          next one and highly recommend it to everyone!
        </p>
      </article>
      <article class="reviews__item">
        <p class="reviews__text">
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Thank you so much for the masterclass! Looking forward to the
          next one and highly recommend it to everyone!
        </p>
      </article>
      <article class="reviews__item">
        <p class="reviews__text">
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Thank you so much for the masterclass! Looking forward to the
          next one and highly recommend it to everyone!
        </p>
      </article>
      <article class="reviews__item">
        <p class="reviews__text">
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Thank you so much for the masterclass! Looking forward to the
          next one and highly recommend it to everyone!
        </p>
      </article>
    </div>
    <p class="reviews__switch">2/15</p>
  </div>
</section>
