<section id="speakers">
    <div class="speakers">
      <h2 class="speakers__title">Speakers</h2>
      <ul class="speakers__list">
        <li class="speakers__item">
          <img src="" alt="Molly Rivera" class="speakers__img" />
          <h3 class="speakers__name">Molly Rivera</h3>
          <p class="speekers__txt">Pastry chef, master chocolatier of Spain,</p>
        </li>
        <li class="speakers__item">
          <img src="" alt="Sophia Clark" class="speakers__img" />
          <h3 class="speakers__name">Sophia Clark</h3>
          <p class="speekers__txt">Сulinary school pastry chef</p>
        </li>
        <li class="speakers__item">
          <img src="" alt="Isabella Taylor" class="speakers__img" />
          <h3 class="speakers__name">Isabella Taylor</h3>
          <p class="speekers__txt">Сonsultant in the art of confectionery</p>
        </li>
        <li class="speakers__item">
          <img src="" alt="Evelyn Miller" class="speakers__img" />
          <h3 class="speakers__name">Evelyn Miller</h3>
          <p class="speekers__txt">Master- chocolatier 
              in Spain</p>
        </li>
      </ul>
    </div>
  </section>