<section>
  <div class="speakers container">
    <h2 class="speakers__title">Speakers</h2>
    <ul class="speakers__list list">
      <li class="speakers__item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/speakers/speakers-1-lg.png    1x,
              ./images/speakers/speakers-1-lg@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/speakers/speakers-1-md.png    1x,
              ./images/speakers/speakers-1-md@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/speakers/speakers-1-sm.png    1x,
              ./images/speakers/speakers-1-sm@2x.png 2x
            "
          />
          <img
            class="img speakers__img"
            src="./images/speakers/speakers-1-sm.png"
            alt="Molly Rivera"
          />
        </picture>
        <!-- <img src="" alt="Molly Rivera" class="speakers__img" /> -->
        <h3 class="speakers__name">Molly Rivera</h3>
        <p class="speekers__txt">Pastry chef, master chocolatier of Spain,</p>
      </li>
      <li class="speakers__item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/speakers/speakers-2-lg.png    1x,
              ./images/speakers/speakers-2-lg@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/speakers/speakers-2-md.png    1x,
              ./images/speakers/speakers-2-md@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/speakers/speakers-2-sm.png    1x,
              ./images/speakers/speakers-2-sm@2x.png 2x
            "
          />
          <img
            class="img  speakers__img"
            src="./images/speakers/speakers-2-sm.png"
            alt="Molly Rivera"
          />
        </picture>
        <!-- <img src="" alt="Sophia Clark" class="speakers__img" /> -->
        <h3 class="speakers__name">Sophia Clark</h3>
        <p class="speekers__txt">Сulinary school pastry&#160;chef</p>
      </li>
      <li class="speakers__item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/speakers/speakers-3-lg.png    1x,
              ./images/speakers/speakers-3-lg@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/speakers/speakers-3-md.png    1x,
              ./images/speakers/speakers-3-md@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/speakers/speakers-3-sm.png    1x,
              ./images/speakers/speakers-3-sm@2x.png 2x
            "
          />
          <img
            class="img  speakers__img"
            src="./images/speakers/speakers-3-sm.png"
            alt="Molly Rivera"
          />
        </picture>
        <!-- <img src="" alt="Isabella Taylor" class="speakers__img" /> -->
        <h3 class="speakers__name">Isabella Taylor</h3>
        <p class="speekers__txt">Сonsultant in the art of confectionery</p>
      </li>
      <li class="speakers__item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/speakers/speakers-4-lg.png    1x,
              ./images/speakers/speakers-4-lg@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/speakers/speakers-4-md.png    1x,
              ./images/speakers/speakers-4-md@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/speakers/speakers-4-sm.png    1x,
              ./images/speakers/speakers-4-sm@2x.png 2x
            "
          />
          <img
            class="img speakers__img"
            src="./images/speakers/speakers-4-sm.png"
            alt="Molly Rivera"
          />
        </picture>
        <!-- <img src="" alt="Evelyn Miller" class="speakers__img" /> -->
        <h3 class="speakers__name">Evelyn Miller</h3>
        <p class="speekers__txt">Master- chocolatier in Spain</p>
      </li>
    </ul>
  </div>
</section>
