.reviews__slider {
  max-width: 320px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    min-height: 525px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1040px;
    min-height: 725px;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

  & > li {
    display: none;
  }

  & > li.slick-active {
    display: contents;
  }
  @media screen and (max-width: 769px) {
    &::before,
    &::after {
      content: '';
      width: 35px;
      height: 1px;
      background-color: #ab816c;
    }

    &::before {
      margin-right: 12px;
    }

    &::after {
      margin-left: 12px;
    }
  }
}

.slick-active > button {
  background-color: transparent;
  border-color: transparent;
  color: #ab816c;

  &::after {
    content: '/5';
  }
}

.slick-arrow {
  @media screen and (min-width: 768px) {
    width: 65px;
    height: 65px;
    background-color: black;
    position: absolute;
    bottom: -185px;
    right: 50%;
    background-color: transparent;
    border: none;
    font-size: 0;
    cursor: pointer;
    z-index: 3;
    background-image: url(../images/rewievs/next.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  @media screen and (min-width: 1280px) {
    bottom: -143px;
  }
}

.slick-arrow:hover {
  border-radius: 50%;
  box-shadow: inset rgba(0, 0, 0, 0.5) -3px -3px 8px,
    inset rgba(255, 255, 255, 0.9) 3px 3px 8px,
    rgba(0, 0, 0, 0.8) 3px 3px 8px -3px;
}

.slick-arrow:active {
  border-radius: 50%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2) inset;
}

.slick-next {
  display: none;
  transform: translateX(+97px);
}
.slick-prev {
  display: none;
  transform: translateX(-30px);
}
