.about__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }

    @media screen and (min-width: 1280px) {
    padding-left: 122px;
    padding-right: 125px;
    }
}

.about__picture {
    @media screen and (max-width: 767px) {
        margin-bottom: 16px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 336px;
    }

    @media screen and (min-width: 1280px) {
        width: 502px;
    }
}

.about__spoon {
    display: none;

    @media screen and (min-width: 1280px) {
       display: block;
       position: absolute;
       top: -30px;
       left: -120px;
       transition: transform 0.5s ease;

    &:hover {
        transform: rotate(20deg);
    }
    }
}

.about__article {
    @media screen and (min-width: 768px) {
        width: 336px;
    }

    @media screen and (min-width: 1280px) {
        width: 392px;
    }
}

.about__title {
    text-align: center;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.25;

    @media screen and (min-width: 768px) {
            margin-bottom: 16px;
            text-align: left;
            font-size: 24px;
            line-height: 1.25;
        }
    @media screen and (min-width: 1280px) {
            margin-bottom: 20px;
            font-size: 36px;
            line-height: 1.25;
        }
    }

.about__text {
    font-size: 16px;
    line-height: 1.25;

    @media screen and (min-width: 1280px) {
        font-size: 18px;
        line-height: 1.22;
    }
}

.about__text {
    margin-bottom: 16px;

    @media screen and (min-width: 1280px) {
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.about__btn,
.program__btn {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;

    font-family: 'Caveat Brush', cursive;
    font-size: 18px;
    line-height: 1.28;
    color: var(--style-color);
    
    @media screen and (min-width: 1280px) {
        display: none;
    }
}
