// .header {
//   position: relative;
// }
.header__container {
  @media screen and(max-width:767px) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    background-repeat: no-repeat;
    background-position: top -6.83px left -12px, top 1.94px left 36.87px,
      top 37.89px left 17.11px, top 53.94px left 73.52px,
      top -28.45px left 17.13px, top 43.6px left 3.66px, top -51px left 51.9px,
      top 63.96px left -8.87px;

    background-size: 63.9px 70.79px, 35.08px 39.16px, 68.3px 75.63px,
      44.17px 48.87px, 34.77px 38.53px, 29.45px 32.89px, 59.52px 66.1px,
      28.82px 31.95px;

    background-image: url(../images/header/header-donut-8-sm.png),
      url(../images/header/header-donut-7-sm.png),
      url(../images/header/header-donut-6-sm.png),
      url(../images/header/header-donut-5-sm.png),
      url(../images/header/header-donut-4-sm.png),
      url(../images/header/header-donut-3-sm.png),
      url(../images/header/header-donut-2-sm.png),
      url(../images/header/header-donut-1-sm.png);

    @media screen and(min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/header-donut-8-sm@2x.png),
        url(../images/header/header-donut-7-sm@2x.png),
        url(../images/header/header-donut-6-sm@2x.png),
        url(../images/header/header-donut-5-sm@2x.png),
        url(../images/header/header-donut-4-sm@2x.png),
        url(../images/header/header-donut-3-sm@2x.png),
        url(../images/header/header-donut-2-sm@2x.png),
        url(../images/header/header-donut-1-sm@2x.png);
    }
  }

  @media screen and(min-width:768px) and (max-width: 1279px) {
    align-items: flex-start;
    padding-top: 24px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-position: top 71px right 260.44px, top 92.42px right 212.19px,
      top 178.96px right 179.76px, top 217.58px right 102.11px,
      top 19.29px right 260.44px, top 192.7px right 305.68px,
      top -35px right 117.19px, top 241.71px right 337.35px;

    background-size: 153.81px 170.4px, 84.45px 94.25px, 164.4px 184.04px,
      106.31px 117.62px, 83.69px 92.74px, 70.87px 79.17px, 143.26px 159.09px,
      69.37px 76.91px;

    background-image: url(../images/header/header-donut-8-md.png),
      url(../images/header/header-donut-6-md.png),
      url(../images/header/header-donut-7-md.png),
      url(../images/header/header-donut-5-md.png),
      url(../images/header/header-donut-4-md.png),
      url(../images/header/header-donut-3-md.png),
      url(../images/header/header-donut-2-md.png),
      url(../images/header/header-donut-1-md.png);

    @media screen and(min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/header-donut-8-md@2x.png),
        url(../images/header/header-donut-6-md@2x.png),
        url(../images/header/header-donut-7-md@2x.png),
        url(../images/header/header-donut-5-md@2x.png),
        url(../images/header/header-donut-4-md@2x.png),
        url(../images/header/header-donut-3-md@2x.png),
        url(../images/header/header-donut-2-md@2x.png),
        url(../images/header/header-donut-1-md@2x.png);
    }
  }
  padding-top: 46px;
  padding-bottom: 100px;
  position: relative;
}
.header-img {
  display: none;
  @media screen and(min-width:1280px) {
    display: block;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    top: 0;
    // width: 716px;
    // height: 946px;
    top: -175px;
    right: 0px;
  }
}
.header-burger {
  position: absolute;
  top: 16;
  right: 20;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 9;

  @media screen and(min-width:768px) {
    top: 40;
    right: 32;
  }
  @media screen and(min-width:1280px) {
    display: none;
  }
}
.header-nav {
  @media screen and(max-width:1279px) {
    display: none;
  }
  @media screen and(min-width:1280px) {
    margin-left: 55px;
  }
}

.header__wrapper {
  display: flex;
}
.header-nav__list {
  display: flex;
  gap: 20px;
  text-decoration: none;
}
.header-nav__link {
  display: inline-flex;
  color: var(--primary-text-color);
  padding: 20px 0 20px 0;

  transition: all 0.5s ease;
  &:hover,
  &:focus {
    color: #876655;
    transform: scale(1.2);
  }
}
.header-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 40px;

  @media screen and(min-width:768px) {
    align-items: flex-start;
    margin-top: 24px;
    margin-bottom: 20px;
  }

  @media screen and(min-width:1280px) {
    margin-top: 0;
    margin-bottom: 32px;
  }
}
.header-txt__title {
  align-items: center;
  max-width: 224px;
  font-size: 30px;
  line-height: 1.26;

  @media screen and(min-width:1280px) {
    font-size: 64px;
    line-height: 1;
    max-width: 490px;
  }
}
.header-txt__subtitle {
  font-weight: 500;
  font-size: 16px;
  font-family: 'Montserrat';
  margin-top: 8px;

  @media screen and(min-width:1280px) {
    margin-top: 16;
    font-size: 24px;
    line-height: 1.2;
  }
}
.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  height: 40px;
  width: 145px;
  border-radius: 25px;
  font-family: 'Caveat Brush';
  line-height: 1.27;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
  &:hover,
  &:focus {
    background-color: #c09a87;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  color: #ffffff;
  background-color: var(--style-color);

  @media screen and(min-width:768px) {
    margin-top: 20px;
  }

  @media screen and(min-width:1280px) {
    width: 158px;
    margin-top: 32px;
  }
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out 3 both;
  animation: heartbeat 1.5s ease-in-out 3 both;
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.logo__image {
  @media screen and(min-width:1280px) {
    width: 158px;
    height: 116px;
  }
}
.socials {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.socials__link {
  display: inline-flex;
  cursor: pointer;
  transition: transform 0.5s ease, fill 0.5s ease;

  &:hover,
  &:focus {
    fill: #876655;
    transform: scale(1.3);
  }
}
