.price__container {
  width: 100%;
  margin-top: 16px;
  @media screen and (min-width: 768px) {
    margin-top: 40px;
    margin-bottom: 80px;
    width: 100%;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 80px;
    margin-bottom: 86px;
  }
}

.price__title {
  text-align: center;
  font-size: 24px;
  line-height: 1.25;
    margin-bottom: 16px;
  
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.25;
  }
}

.price__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    gap: 14px;
    flex-wrap: nowrap;
  }
  @media screen and (min-width: 1280px) {
    gap: 32px;
  }
}

.price__item {
  max-width: 100%;
  background-color: var(--bg-secondary-color);
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../images/price/price-bg-1-sm.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/price/price-bg-1-sm@2x.png);
  }
  @media screen and (min-width: 768px) {
    width: 225px;
    background-size: 199px;
    background-image: url(../images/price/price-bg-1-md.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/price/price-bg-1-md@2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    width: 394px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 28px;

    background-size: 335px;
    background-image: url(../images/price/price-bg-1-lg.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/price/price-bg-1-lg@2x.png);
    }
  }
}

.price__item:first-child {
  @media screen and (min-width: 1280px) {
    -webkit-animation: price-first 2s linear infinite alternate ;
	        animation: price-first 2s linear infinite alternate ;
    background-repeat: no-repeat;
    background-size: 66px 73px, 66px 73px, 66px 73px, 335px;
    background-position: top 403px left 0px, top 401px left 224px,
      top 257px left 305px, top 0px left 28px;
    background-image: url(../images/price/price-donut-1-lg.png),
      url(../images/price/price-donut-2-lg.png),
      url(../images/price/price-donut-3-lg.png),
      url(../images/price/price-bg-1-lg.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/price/price-donut-1-lg.png),
        url(../images/price/price-donut-2-lg.png),
        url(../images/price/price-donut-3-lg.png),
        url(../images/price/price-bg-1-lg@2x.png);
    }
  }
}

@-webkit-keyframes price-first {
  0% {
    background-size: 66px 73px, 66px 73px, 66px 73px, 335px 185px;
  }
  100% {
    background-size: 66px 73px, 66px 73px, 66px 73px, 335px 130px;
  }
}
@keyframes price-first {
  0% {
    background-size: 66px 73px, 66px 73px, 66px 73px, 335px 130px;
  }
  100% {
    background-size: 66px 73px, 66px 73px, 66px 73px, 335px 185px;
  }
}

.price__item:nth-child(2) {
  @media screen and (min-width: 1280px) {
    -webkit-animation: price-second 2s linear infinite alternate ;
	        animation: price-second  2s linear infinite alternate ;
    background-repeat: no-repeat;
    background-size: 66px 73px, 66px 73px, 335px;
    background-position: top 366 left 327px, top 448px left 0px,
      top 0px left 28px;
    background-image: url(../images/price/price-donut-1-lg.png),
      url(../images/price/price-donut-3-lg.png),
      url(../images/price/price-bg-1-lg.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/price/price-donut-1-lg.png),
        url(../images/price/price-donut-3-lg.png),
        url(../images/price/price-bg-1-lg@2x.png);
    }
  }
}

@-webkit-keyframes price-second {
  0% {
    background-size: 66px 73px, 66px 73px, 335px 185px;
  }
  100% {
    background-size: 66px 73px, 66px 73px, 335px 130px;
  }
}
@keyframes price-second {
  0% {
    background-size: 66px 73px, 66px 73px, 335px 130px;
  }
  100% {
    background-size: 66px 73px, 66px 73px, 335px 185px;
  }
}

.price__item:last-child {
  @media screen and (min-width: 1280px) {
    -webkit-animation: price-third 2s linear infinite alternate ;
	        animation: price-third  2s linear infinite alternate ;
    background-repeat: no-repeat;
    background-size: 66px 73px, 66px 73px, 335px;
    background-position: top 464 left 329px, top 537px left 44px,
      top 0px left 28px;
    background-image: url(../images/price/price-donut-1-lg.png),
      url(../images/price/price-donut-3-lg.png),
      url(../images/price/price-bg-1-lg.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/price/price-donut-1-lg.png),
        url(../images/price/price-donut-3-lg.png),
        url(../images/price/price-bg-1-lg@2x.png);
    }
  }
}

@-webkit-keyframes price-third {
  0% {
    background-size: 66px 73px, 66px 73px, 335px 185px;
  }
  100% {
    background-size: 66px 73px, 66px 73px, 335px 130px;
  }
}
@keyframes price-third {
  0% {
    background-size: 66px 73px, 66px 73px, 335px 130px;
  }
  100% {
    background-size: 66px 73px, 66px 73px, 335px 185px;
  }
}

.price__position {
  @media screen and (min-width: 768px) {
    height: 488px;
  }
  @media screen and (min-width: 1280px) {
    height: 462px;
  }
}

.price__sub-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  margin-bottom: 16px;
  text-align: center;
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 40px;
  }
}

.price__txt {
  max-width: 440px;
  @media screen and (min-width: 768px) {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
  }
  @media screen and (min-width: 1280px) {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
  }
}

.price__sub-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}

.price__btn {
  -webkit-animation: heartbeat 6s 2s infinite ;
  animation: heartbeat 6s 2s infinite ;  margin: auto;
  margin-bottom: 20px;
  @media screen and (max-width: 768px) {
    margin-top: 32px;
  }
  @media screen and (min-width: 1280px) {
    width: 145px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}