.registration {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  padding-bottom: 32px;

  // tablet screen
  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
    background-position: 180% -10%;
    background-repeat: no-repeat;
    background-image: url(../images/registration/registration-2-lg.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/registration/registration-2-lg@2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 180px;
    background-position: 83% -50%;
  }
}

/*Заголовок*/
.registration__title {
  text-align: center;
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  color: var(--primary-text-color);
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    position: static;
  }

  @media screen and (min-width: 1280px) {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.8;
    margin-bottom: 16px;
  }
}

.registration__img {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-170%);
    top: -30px;
  }

  @media screen and (min-width: 1280px) {
    left: 50%;
    transform: translateX(-220%);
    top: 0;
  }
}

/*Главный контейнер секции*/
.registration__container {
  position: relative;
  display: block;
  padding-top: 82px;
  width: 280px;
  height: 436px;
  background: var(--bg-color);
  box-shadow: var(--registration-shadow);
  border-radius: 150px 150px 0 0;

  @media screen and (min-width: 768px) {
    position: relative;
    padding-left: 62px;
    width: 704px;
    height: 234px;
    padding-top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    flex-shrink: 3;
    box-shadow: var(--registration-shadow);
    border-radius: 150px;
    transform: none;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 104px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-shrink: 3;
    width: 822px;
    height: 246px;
    box-shadow: var(--registration-shadow);
    border-radius: 150px;
    transform: none;
  }
}

/*Первый элемент*/
.timer-wrapper {
  height: 66px;
}

.date__element {
  width: 114px;
  height: 44px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  margin: 0 auto;
  color: var(--primary-text-color);
  justify-content: center;
  display: flex;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: 90px;
    height: 46px;
    margin: 0;
  }
  @media screen and (min-width: 1280px) {
    align-content: flex-end;
    font-size: 20px;
    width: 127px;
    height: 48px;
  }
}

.element__container::before {
  content: '';
  width: 264px;
  height: 0;
  border: var(--input-border);
  position: absolute;
  top: 158px;
  @media screen and(max-width:768px) {
    right: 6px;
  }

  @media screen and (min-width: 768px) {
    top: 116px;
    margin-left: -98px;
    transform: rotate(90deg);
    width: 154px;
  }
  @media screen and (min-width: 1280px) {
    top: 120px;
    width: 166px;
    margin-left: -112px;
  }
}
.element__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: auto;
  @media screen and (min-width: 768px) {
    margin-left: 56px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 64px;
  }
}
.registration__text {
  width: 238px;
  height: 44px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.22;
  color: var(--primary-text-color);
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: start;
    margin-bottom: 16px;
  }

  @media screen and (min-width: 1280) {
    font-size: 18px;
    
  margin-bottom: 28px;
  }
}


/*Форма*/
.registration__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.registration__input::-webkit-input-placeholder {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(171, 129, 108, 0.5);
}
.registration__input:not(:last-child) {
  height: 20px;
  border: var(--input-border);
  width: 264px;
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(255, 255, 249, 1);
  @media screen and (min-width: 768px) {
    width: 234px;
  }
}

.registration__input:not(:first-of-type) {
  margin-top: 14px;
}

.registration__button {
  position: static;
  margin-top: 35px;

  @media screen and (min-width: 768px) {
    position: absolute;
    margin-top: 0;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    right: 104px;
    top: 50%;
    transform: translateY(-50%);

    font-size: 24px;
    width: 158px;
    height: 45px;
  }
}
