.reviews {
  padding-top: 6px;
  padding-bottom: 40px;
  @media screen and (min-width: 1280px) {
    padding-bottom: 60px;
  }
  .reviews__title {
    margin-bottom: 13px;
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    color: #2e2520;
    @media screen and (min-width: 768px) {
      margin-bottom: 7px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 86px;
      font-size: 36px;
    }
  }
}

.reviews__item {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
  transition-duration: 2000ms;

  @media screen and (min-width: 768px) {
    width: 152px;
    &.slick-active.slick-current {
      width: 336px;
      margin-top: 75px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 288px;
    &.slick-active.slick-current {
      width: 394px;
      margin-top: 210px;
    }
  }
}

.reviews__img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.reviews__icon {
  max-width: 136px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 8px;
}

.reviews__subtitle {
  margin-bottom: 20px;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

.reviews__text {
  padding-bottom: 30px;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}

// .reviews__switch {
//   margin-bottom: 60px;
//   font-size: 16px;
//   line-height: 1.25;
//   text-align: center;
// }

// .reviews__switch:before,
// .reviews__switch:after {
//   content: '';
//   display: inline-block;
//   height: 5px;
//   border-top: 1px solid #ab816c;
//   top: 0;
//   width: 35px;
// }
// .reviews__switch:before {
//   right: 100%;
//   margin-right: 15px;
// }

// .reviews__switch:after {
//   left: 100%;
//   margin-left: 15px;
// }
